$kw-light-primary: mat-palette($mat-grey, 200, 500, 300);
$kw-light-accent: mat-palette($mat-brown, 200);
$kw-light-warn: mat-palette($mat-deep-orange, 200);

$kw-light-theme: mat-light-theme(
  $kw-light-primary,
  $kw-light-accent,
  $kw-light-warn
);
