$kw-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$kw-nature-accent: mat-palette($mat-deep-purple, 300);
$kw-nature-warn: mat-palette($mat-red, 600);

$kw-nature-theme: mat-light-theme(
  $kw-nature-primary,
  $kw-nature-accent,
  $kw-nature-warn
);
